[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# tox
tox = "~=3.7.0"
tox-pipenv = "~=1.9.0"
# pytest
pytest = "*"
pytest-mock = "*"
pytest-structlog = "*"

[packages]
yamlize = ">=0.6"
structlog = ">=19.2"
netaddr = ">=0.7"

[requires]
python_version = "3.8"
